In [1]:
import pandas as pd 
from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import pymongo

In [2]:
url = "https://seer.cancer.gov/statfacts/html/common.html"
print(url)

https://seer.cancer.gov/statfacts/html/common.html

In [3]:
response = requests.get(url)

In [4]:
soup = bs(response.text, 'lxml')

In [5]:
new_cancer = pd.read_html(url)[0]
b = pd.DataFrame(new_cancer[0])
split_data = [x.split(' ') for x in new_cancer[1]]
a = pd.DataFrame(split_data)
new_cancer = pd.merge(b, a, how='left', left_index=True, right_index=True)
new_cancer.columns = ['cancer_type', 'number', 'percent']
new_cancer['type'] = 'New Cancer Cases 2019'
new_cancer

        cancer_type   number percent                   type
0            Breast  271,270   (15%)  New Cancer Cases 2019
1   Lung & Bronchus  228,150   (13%)  New Cancer Cases 2019
2          Prostate  174,650   (10%)  New Cancer Cases 2019
3  Colon and rectum  145,600    (8%)  New Cancer Cases 2019
4             Other  942,780   (53%)  New Cancer Cases 2019

In [ ]:
pd.read_html(url)

In [ ]:
new_cancer

In [6]:
cancer_deaths = pd.read_html(url)[1]
b = pd.DataFrame(cancer_deaths[0])
split_data = [x.split(' ') for x in cancer_deaths[1]]
a = pd.DataFrame(split_data)
cancer_deaths = pd.merge(b, a, how='left', left_index=True, right_index=True)
cancer_deaths.columns = ['cancer_type', 'number', 'percent']
cancer_deaths['type'] = 'Cancer Deaths 2019'

In [7]:
cancer_deaths

        cancer_type   number percent                type
0   Lung & Bronchus  142,670   (24%)  Cancer Deaths 2019
1  Colon and rectum   51,020    (8%)  Cancer Deaths 2019
2          Pancreas   45,750    (8%)  Cancer Deaths 2019
3            Breast   42,260    (7%)  Cancer Deaths 2019
4             Other  325,180   (54%)  Cancer Deaths 2019

In [8]:
diagnosed_male = pd.read_html(url)[2]
diagnosed_male.columns = ['cancer_type', 'number']
diagnosed_male['type'] = 'Diagnosed Male'
diagnosed_male.head()

            cancer_type  number            type
0                Breast    2670  Diagnosed Male
1       Lung & Bronchus  116440  Diagnosed Male
2              Prostate  174650  Diagnosed Male
3            Colorectal   78500  Diagnosed Male
4  Melanoma of the Skin   57220  Diagnosed Male

In [ ]:
diagnosed_female = pd.read_html(url)[3]
diagnosed_female.columns = ['cancer_type', 'number']
diagnosed_female['type'] = 'Diagnosed Female'
diagnosed_female.head()

In [ ]:
die_male = pd.read_html(url)[4]
die_male.columns = ['cancer_type', 'number']
die_male['type'] = 'Die Male'
die_male.head()

In [ ]:
die_female = pd.read_html(url)[5]
die_female.columns = ['cancer_type', 'number']
die_female['type'] = 'Die Female'
die_female.head()

In [ ]:
both_cancer_rates = pd.read_html(url)[6]
both_cancer_rates['type'] = 'Both'
both_cancer_rates.head()

In [ ]:
female_cancer_rates = pd.read_html(url)[7]
female_cancer_rates['type'] = 'Female'
female_cancer_rates.head()

In [ ]:
male_cancer_rates = pd.read_html(url)[8]
male_cancer_rates['type'] = 'Male'
male_cancer_rates.head()

In [ ]:
most_common_cancer_by_race = pd.read_html(url)[9]
most_common_cancer_by_race.head()

In [ ]:
mortality_rates_by_race = pd.read_html(url)[10]
mortality_rates_by_race.head()

In [ ]:
national_incidence_trends_male = pd.read_html(url)[11]
national_incidence_trends_male.columns = ['cancer_type', 'number']
national_incidence_trends_male['type'] = "Male"
national_incidence_trends_male.head()

In [ ]:
national_incidence_trends_female = pd.read_html(url)[12]
national_incidence_trends_female.columns = ['cancer_type', 'number']
national_incidence_trends_female['type'] = "Female"
national_incidence_trends_female.head()

In [ ]:
national_mortality_trends_male = pd.read_html(url)[13]
national_mortality_trends_male.columns = ['cancer_type', 'number']
national_mortality_trends_male['type'] = 'Male'
national_mortality_trends_male.head()

In [ ]:
national_mortality_trends_female = pd.read_html(url)[14]
national_mortality_trends_female.columns = ['cancer_type', 'number']
national_mortality_trends_female['type'] = "Female"
national_mortality_trends_female.head()

In [ ]:
cancer_vs_other_death_causes = pd.read_html(url)[15]
cancer_vs_other_death_causes.columns = ['cancer_type', 'number']
cancer_vs_other_death_causes['type'] = "Both"
cancer_vs_other_death_causes

In [ ]:
us_death_rate_less65 = pd.read_html(url)[16]
us_death_rate_less65['type'] = 'Both'
us_death_rate_less65

In [ ]:
us_death_rate_greater65 = pd.read_html(url)[17]
us_death_rate_greater65['type'] = 'Both'
us_death_rate_greater65

In [ ]:
frames = [
    diagnosed_male,
    diagnosed_female,
]